[Unit]
Description=HomePi Metadata Service
After=homepi-pcm-router.service homepi-shairport-supervisor.service mosquitto.service
Wants=homepi-pcm-router.service mosquitto.service

[Service]
Type=simple
User=homepi
Group=homepi
WorkingDirectory=/opt/homepi/services/metadata
ExecStart=/opt/homepi/services/metadata/bin/homepi-metadata
Restart=on-failure
RestartSec=5
EnvironmentFile=-/opt/homepi/services/metadata/env/.env

[Install]
WantedBy=multi-user.target
