[Unit]
Description=HomePi Metadata Service
After=homepi-pcm-router.service homepi-shairport-supervisor.service homepi-broker.service
Wants=homepi-pcm-router.service homepi-broker.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User=homepi
Group=homepi
WorkingDirectory=/opt/homepi/services/metadata
ExecStart=/opt/homepi/services/metadata/bin/homepi-metadata
Restart=on-failure
RestartSec=10
StartLimitAction=none
EnvironmentFile=-/opt/homepi/services/metadata/env/.env
RuntimeDirectory=homepi/audio
RuntimeDirectoryPreserve=yes

[Install]
WantedBy=multi-user.target
